<form class="grid gap-y-5 w-96">
  <h1 class="text-tittle surface m-0">Registrar nova conta</h1>

  <div>
    <label class="label-lg block" for="name">Nome</label>
    <input class="text-primary-600 rounded-xl mt-2 w-full p-3" type="text" name="name" id="name" />
  </div>

  <div>
    <label class="label-lg block" for="email">Email</label>
    <input class="text-primary-600 rounded-xl mt-2 w-full p-3" type="email" name="email" id="email" />
  </div>

  <div>
    <label class="label-lg block" for="password">Senha</label>
    <input class="text-primary-600 rounded-xl mt-2 w-full p-3" type="password" name="password" id="password" />
  </div>

  <div>
    <button type="button" class="primary bttn-filled">Cadastrar</button>
  </div>

</form>
