:host {
  display: block;
}

h1 {
  margin: 0;
}

.login-form {
  width: 25vw;
  display: grid;
  row-gap: 20px;
}

label + input {
  margin-top: 5px;
}

input {
  padding: 18px;
  width: 100%;
  display: block;
  border: 0;
}

.dual-input {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 20px;
}
