<div class="login-form">
  <h1 class="text-tittle">Fazer login</h1>

  <div class="mt-5">
    <input class="rounded-xl surface" type="email" name="email" id="email" />
    <label class="text-label" for="email" aria-label="Email"></label>
  </div>

  <div class="mt-5">
    <input class="rounded-xl surface" type="password" name="password" id="password" />
    <label class="text-label" for="password" aria-label="Senha"></label>
  </div>

  <div class="mt-5">
    <button type="button" class="primary bttn-filled">Login</button>
  </div>
</div>
