<div class="login-form">
  <h1 class="tittle-lg">Fazer login</h1>

  <div class="primary">
    <label class="label-lg" for="email">Email</label>
    <input class="rounded-xl on-primary" type="email" name="email" id="email" />
  </div>
  <div class="primary">
    <label class="label-lg" for="password">Senha</label>
    <input class="rounded-xl on-primary" type="password" name="password" id="password" />
  </div>

  <div>
    <button type="button" class="on-primary">Login</button>
  </div>
</div>
