<div class="register-form">
  <h1 class="tittle-lg">Registrar nova conta</h1>
  <div class="dual-input">
    <div class="primary">
      <label class="label-lg" for="name">Nome</label>
      <input class="rounded-xl on-primary" type="text" name="name" id="name" />
    </div>
    <div class="primary">
      <label class="label-lg" for="surname">Sobrenome</label>
      <input class="rounded-xl on-primary" type="text" name="surname" id="surname" />
    </div>
  </div>

  <div class="primary">
    <label class="label-lg" for="email">Email</label>
    <input class="rounded-xl on-primary" type="email" name="email" id="email" />
  </div>
  <div class="primary">
    <label class="label-lg" for="password">Senha</label>
    <input class="rounded-xl on-primary" type="password" name="password" id="password" />
  </div>

  <div>
    <button type="button" class="on-primary">Cadastrar</button>
  </div>
</div>
