<div class="auth-container">
  <div @toggleTrigger class="auth-display background" *ngIf="state === 'login'; else registerDisplay">
    <div class="sentence display-lg">
      <div>
        Ainda não tem <br />
        conta?
      </div>
    </div>
    <div>
      <button type="button" class="on-primary outlined-bttn" (click)="alternateState()">
        Nova Conta
      </button>
    </div>
  </div>
  <ng-template #registerDisplay>
    <div @toggleTrigger class="auth-display background">
      <div class="sentence display-lg">
        Já possui uma <br />
        conta?
      </div>
      <div>
        <button type="button" class="on-primary outlined-bttn" (click)="alternateState()">
          Fazer login
        </button>
      </div>
    </div>
  </ng-template>
  <div class="form-holder primary rounded-l-l">
    <auth-login @toggleTrigger *ngIf="state === 'login'; else registerForm"></auth-login>
    <ng-template #registerForm>
      <auth-register @toggleTrigger></auth-register>
    </ng-template>
  </div>
</div>
