<!-- Floating Surfice -->
<div class="surface shadow-2xl flex rounded-xl">

  <!-- Banners Display -->
  <div class="auth-display hidden primary p-10 rounded-l-lg rounded-r-xs lg:block"></div>

  <!-- Forms Container -->
  <div class="auth-forms p-10">

    <!-- Login form -->
    <ng-container *ngIf="state === 'login';else registerForm">
      <auth-login></auth-login>
      <p class="pt-6">Ainda não tem uma conta? <a class="clickable text-primary-600"
          (click)="alternateState()">Registre-se</a></p>
    </ng-container>

    <!-- Register form -->
    <ng-template #registerForm>
      <auth-register></auth-register>
      <p class="pt-6">
        Ja possui uma conta? <a class="clickable text-primary-600" (click)="alternateState()">Login</a>
      </p>
    </ng-template>

  </div>

</div>
