@import url("./pallete/colors.css");

/* Buttons */
button {
  cursor: pointer;
  border-radius: 28px;
  padding-inline: 24px;
  height: 40px;
  outline: 0;
  border: 0;
}
button:hover {
  opacity: 0.9;
}
button:active {
  opacity: 0.8;
}

/*
button.elevated-bttn {
  box-shadow: 0 1px 12px rgba(0, 0, 0, 0.4);

  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.4);

  box-shadow: 0 1px 3px rgba(255, 255, 255, 0.4);
}

button.elevated-bttn:hover {
  box-shadow: 0 1px 12px rgba(0, 0, 0, 0.4);

  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.4);

  box-shadow: 0 1px 3px rgba(255, 255, 255, 0.4);
}

button.elevated-bttn:active {
  box-shadow: 0 1px 12px rgba(0, 0, 0, 0.4);

  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.4);

  box-shadow: 0 1px 3px rgba(255, 255, 255, 0.4);
} */

button.outlined-bttn {
  background-color: transparent;
  border: 1px currentColor solid;
}
button.outlined-bttn:hover {
  opacity: 0.8;
}
button.outlined-bttn:active {
  opacity: 0.6;
}
