@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");

/* Display */

.display-lg {
  font-size: 3.5rem;
  line-height: 4rem;
  letter-spacing: 0;
  font-weight: 400;
}

.display-md {
  font-size: 2.8rem;
  line-height: 3.25rem;
  letter-spacing: 0;
  font-weight: 400;
}

.display-sm {
  font-size: 2.2rem;
  line-height: 2.75rem;
  letter-spacing: 0;
  font-weight: 400;
}

/* Headline */

.headline-lg {
  font-size: 2rem;
  line-height: 2.5rem;
  letter-spacing: 0;
  font-weight: 400;
}

.headline-md {
  font-size: 1.75rem;
  line-height: 2.25rem;
  letter-spacing: 0;
  font-weight: 400;
}

.headline-sm {
  font-size: 1.5rem;
  line-height: 2rem;
  letter-spacing: 0;
  font-weight: 400;
}

/* Tittle */

.tittle-lg {
  font-size: 1.375rem;
  line-height: 1.75rem;
  letter-spacing: 0;
  font-weight: 400;
}

.tittle-md {
  font-size: 1rem;
  line-height: 1.5rem;
  letter-spacing: 0;
  font-weight: 400;
}

.tittle-sm {
  font-size: 0.875rem;
  line-height: 1.25rem;
  letter-spacing: 0;
  font-weight: 400;
}

/* Body */

.body-lg {
  font-size: 1rem;
  line-height: 1.5rem;
  letter-spacing: 0;
  font-weight: 400;
}

.body-md {
  font-size: 0.875rem;
  line-height: 1.25rem;
  letter-spacing: 0;
  font-weight: 400;
}

.body-sm {
  font-size: 0.75rem;
  line-height: 1rem;
  letter-spacing: 0;
  font-weight: 400;
}

/* Label */

.label-lg {
  font-size: 0.875rem;
  line-height: 1rem;
  letter-spacing: 0;
  font-weight: 400;
}

.label-md {
  font-size: 0.75rem;
  line-height: 1rem;
  letter-spacing: 0;
  font-weight: 400;
}

.label-sm {
  font-size: 0.68rem;
  line-height: 1.25rem;
  letter-spacing: 0;
  font-weight: 400;
}
