:root {
  /* Primary Colour */

  --ref--color--primary0: #000000;
  --ref--color--primary10: #002020;
  --ref--color--primary20: #003737;
  --ref--color--primary30: #004f50;
  --ref--color--primary40: #006a6a;
  --ref--color--primary50: #008585;
  --ref--color--primary60: #00a1a1;
  --ref--color--primary70: #0dbebe;
  --ref--color--primary80: #46dada;
  --ref--color--primary90: #6af7f7;
  --ref--color--primary95: #adfffe;
  --ref--color--primary99: #f1fffe;
  --ref--color--primary100: #ffffff;

  /* Secondary Colour */

  --ref--color--secondary0: #000000;
  --ref--color--secondary10: #041c35;
  --ref--color--secondary20: #1c314b;
  --ref--color--secondary30: #334863;
  --ref--color--secondary40: #4b607c;
  --ref--color--secondary50: #647896;
  --ref--color--secondary60: #7d92b1;
  --ref--color--secondary70: #98adcc;
  --ref--color--secondary80: #b3c8e8;
  --ref--color--secondary90: #d3e4ff;
  --ref--color--secondary95: #eaf1ff;
  --ref--color--secondary99: #fdfcff;
  --ref--color--secondary100: #ffffff;

  /* Tertiary Colour */

  --ref--color--tertiary0: #000000;
  --ref--color--tertiary10: #191c1c;
  --ref--color--tertiary20: #2d3131;
  --ref--color--tertiary30: #444747;
  --ref--color--tertiary40: #5b5f5f;
  --ref--color--tertiary50: #747877;
  --ref--color--tertiary60: #8e9191;
  --ref--color--tertiary70: #a9acab;
  --ref--color--tertiary80: #c4c7c6;
  --ref--color--tertiary90: #e0e3e2;
  --ref--color--tertiary95: #eff1f0;
  --ref--color--tertiary99: #fafdfc;
  --ref--color--tertiary100: #ffffff;

  /* Danger/Error Colour */

  --ref--color--danger0: #000000;
  --ref--color--danger10: #410002;
  --ref--color--danger20: #690005;
  --ref--color--danger30: #93000a;
  --ref--color--danger40: #ba1a1a;
  --ref--color--danger50: #de3730;
  --ref--color--danger60: #ff5449;
  --ref--color--danger70: #ff897d;
  --ref--color--danger80: #ffb4ab;
  --ref--color--danger90: #ffdad6;
  --ref--color--danger95: #ffedea;
  --ref--color--danger99: #fffbff;
  --ref--color--danger100: #ffffff;

  /* Neutral */

  --ref--color--neutral0: #000000;
  --ref--color--neutral10: #191c1c;
  --ref--color--neutral20: #2d3131;
  --ref--color--neutral30: #444747;
  --ref--color--neutral40: #5b5f5f;
  --ref--color--neutral50: #747877;
  --ref--color--neutral60: #8e9191;
  --ref--color--neutral70: #a9acab;
  --ref--color--neutral80: #c4c7c6;
  --ref--color--neutral90: #e0e3e2;
  --ref--color--neutral95: #eff1f0;
  --ref--color--neutral99: #fafdfc;
  --ref--color--neutral100: #ffffff;

  /* Neutral Variant */

  --ref--color--neutral-variant0: #000000;
  --ref--color--neutral-variant10: #141d1d;
  --ref--color--neutral-variant20: #293232;
  --ref--color--neutral-variant30: #3f4948;
  --ref--color--neutral-variant40: #566060;
  --ref--color--neutral-variant50: #6f7979;
  --ref--color--neutral-variant60: #889392;
  --ref--color--neutral-variant70: #a3adad;
  --ref--color--neutral-variant80: #bec9c8;
  --ref--color--neutral-variant90: #dae5e4;
  --ref--color--neutral-variant95: #e9f3f2;
  --ref--color--neutral-variant99: #f4fefd;
  --ref--color--neutral-variant100: #ffffff;
}
